nav {
	top: 0;
	left: 0;
	width: 0;
	z-index: 5;
	height: 100vh;
	position: fixed;
	transition: 0.5s;
	padding-top: 60px;
	overflow-x: hidden;
	background-color: white;
}
header {
	top: 0;
	width: 90vw;
	height: 100vh;
	display: flex;
	margin: 0 5vw;
	position: absolute;
	text-align: center;
	align-items: center;
	justify-content: center;
}
input {
	width: 100%;
	border: none;
	outline: none;
	text-align: center;
	font-weight: bolder;
	border-bottom: 2.5px dashed;
	font-family: "Josefin Sans";
	background-color: transparent;
}
button {
	width: 75px;
	padding: 5px;
	outline: none;
	font-weight: bolder;
	border: 2.5px dashed black;
	font-family: "Josefin Sans";
	background-color: transparent;
}
.legend {
  padding: 1vw 1vh;
  background: white;
  border-radius: 5px;
  background: rgba(255,255,255,.75);
  box-shadow: 15px rgba(0,0,0,0.2);
  font: 14px "Josefin Sans", sans-serif;
}
nav h3 {
	display: block;
	font-size: 25px;
	transition: 0.3s;
	text-align: center;
	text-decoration: none;
}
.navS {
	width: 20vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
body {
	margin: 0;
	line-height: 1;
	font-weight: 300;
	overflow-x: hidden;
	font-family: "Josefin Sans";
}
table {
	width: 75vw;
	height: 50vh;
	margin: auto;
	border-collapse: collapse;
	text-transform: capitalize;
}
.fa-bars {
	top: 5vh;
	left: 5vw;
	z-index: 10;
	position: absolute;
}	
td, th {
	width: 20%;
	text-align: center;
	border: 1px solid #ccc;
}
h1 {
	height: 15px;
	font-size: 2.5em; 
	text-transform: uppercase;
}
#stats {
	width: 60vw;
	height: 10vh;
}
#newMap {
	width: 82.5vw;
	height: 62.5vh;
}	
#pfp {
	height: 25vh;
	border-radius: 50%;
}
hr {width: 0}
#hrInput {height: 5vh}
th {font-weight: 700}
td {font-weight: 300}
h2 {font-size: 1.25em}
#body {transition: .5s}
#reset {color: #337AB7}
body:hover {cursor: default}
td > input {text-transform: capitalize}
.fa, button:hover, #reset:hover, .navBtn:hover {cursor: pointer}

	/* Colors */
.red {color: #B03A2E}
.purple {color: #76448A}
.blue {color: #2874A6}
.green {color: #239B56}
.yellow {color: #B7950B}
	/* Colors */

	/* Hide */
#h1 {z-index: 1}
#h0 {z-index: -1}
#loader {opacity: 0}	
#my_file {display: none}
.wait0 {color: transparent}
#h2, #h4, #h5, .fa-bars {display: none}	
	/* Hide */









